<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3860435799-hhlnbt9d6cvjn322udq4h8nqiku7evo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3860435799-hhlnbt9d6cvjn322udq4h8nqiku7evo2</string>
	<key>API_KEY</key>
	<string>AIzaSyASbSq7wcc5o31uj7rBJ-7XC5HbbeVi3o0</string>
	<key>GCM_SENDER_ID</key>
	<string>3860435799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pedal</string>
	<key>PROJECT_ID</key>
	<string>pedal-21f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>pedal-21f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3860435799:ios:46558b89f726078fb7a412</string>
</dict>
</plist>